<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
        link(rel="stylesheet", href="/public/css/app.css")
        script(src="/socket.io/socket.io.js")
    body
        nav(class="large-padding black white-text")
            ul 
                li 
                    a(href="/app") Inicio
                li 
                    a(href="/app/imagenes") Mis imagenes
                li 
                    a(href="/app/imagenes/new") Nueva imagen
        block contenido